#---------------------------------#
#      environment configuration  #
#---------------------------------#
version: 1.0.{build}.0

environment:
  NuGetAPIKey:
    secure: wpi18MwJmUzPpBwMUN2cQRoi8goB56SMcKechZqkqTA7hRxWochEk/Y7vIkev9yJ
  GitHubKey:
    secure: +e7Zn1hAWXP8+kYDqmXbt9FsltcBekPhwu62QnSmJ4TkQHxjIak2+fPj+zRqoBMj

skip_commits:
  files:
    - README.md
  message: /updated readme.*|update readme.*s|update docs.*|update version.*|update appveyor.*/

install:
    - git clone https://github.com/PowerShell/DscResource.Tests

    - ps: |
        Import-Module -Name "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"
        Install-Module -Name posh-git -Force
        Invoke-AppveyorInstallTask

#---------------------------------#
#      build configuration        #
#---------------------------------#

build: false

#---------------------------------#
#      test configuration         #
#---------------------------------#

test_script:
    - ps: |
        Invoke-AppveyorTestScriptTask -CodeCoverage -CodeCovIo -ExcludeTag @()
    - git config --global credential.helper store
    - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GitHubKey):x-oauth-basic@github.com`n"
    - git config --global user.email "Administrator@PSDSC.Lab"
    - git config --global user.name "Administrator"

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

# scripts to run before deployment
deploy_script:
  - ps: |
      .\build.ps1
      Invoke-AppveyorAfterTestTask      

deploy:
  provider: GitHub
  auth_token:
    secure: $($env:GitHubKey)
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  on:
    branch: master
